/*---Footer Section---*/
.footer {
  background-color: #232323;
  clip-path: polygon(0 40px, 100% 0%, 100% 100%, 0 100%);
  padding-top: 6%;
  padding-bottom: 2.5%;
  float: left;
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  color: white;
  @include respond (phone) {
    padding-top: 10%;
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal})/2);
    float: left;
    padding-bottom: 2.5rem;
  }

  .col-1-of-2A {
    padding-top: 1rem;

    & a {
      padding: 5px 5px;
      text-decoration: none;
      color: grey;
    }

    & a:hover {
      color: white;
    }
  }

  & p {
    margin: 0 auto;
  }

  .col-1-of-1 {
    width: 100%;
    float: left;
  }
}

.footerLogo {
  padding: 0 10px;
  height: 50px;
}
