.Row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond (phone) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  @include respond (phone) {
    max-width: 55rem;
  }

  @include clearfix;

  [class^="col-"] {
    width: calc((100% - (#{$gutter-horizontal})*2)/3);
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond (phone) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond (phone) {
      width: 100% !important;
      padding: 5% 15%;
    }
  }

  .col-1-of-2 {
    text-align: center;
    width: calc((100% - #{$gutter-horizontal})/2);
    float: left;
  }

  .col-1-of-3 {
    text-align: center;
    width: calc((100% - (#{$gutter-horizontal})*2)/3);
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-4 {
    text-align: center;
    width: calc((100% - (#{$gutter-horizontal})*3)/4);
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
