@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


//media query manager
/*
0-600px       phone
600-900px     tablet portrait
900-1200px    tablet landscape
1200-1800px   normal style
1800+         big desktop
*/

/*
breakpoint arguments:
- Phone
- tab-port
- tab-land
- big-desktop
*/

/*
1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media only screen and (max-width: 727px) { @content };
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 882px) { @content };
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 900px) { @content };
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 1070px) { @content };
  }
}
