.mCard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &_side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.5);

    &_front {
      background-color: white;
    }

    &_back {
      background-image: url(../img/whitewood.png);
      transform: rotateY(180deg);
    }
  }

  &:hover &_side_front {
        transform: rotateY(-180deg);
  }
  &:hover &_side_back {
        transform: rotateY(0);
  }

  // front side styling
  &_image {
    background-size: cover;
    height: 23rem;
    border-top-left-radius:6px;
    border-top-right-radius:6px;

    &_1 {
      background-image: url(../img/Marketing.jpg);
    }
    &_2 {
      background-image: url(../img/Realestate.jpeg);
    }
    &_3 {
      background-position: center;
      background-image: url(../img/Construction.jpeg);
    }

  }

  &_heading {
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: right;
    position: absolute;
    top: 21rem;
    right: .8rem;
  }

  &_headingwrapper {
    padding: 3px 1.6rem;
    background-image: linear-gradient(
        to left top,
        rgba(0,0,0, 0.85),
        rgba(0,0,0, 0)),
        url(../img/leather.jpg);
    box-shadow: 0 5px 4px rgba(0,0,0,.2);
    border-radius: 4px;
  }

  &_details {
    padding: 6rem 5rem;
    line-height: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        color: grey;
        font-size: 1.5rem;
        padding: 1rem;
          &:not(:last-child) {
            border-bottom: 1px solid lightgrey;
          }
      }
    }
  }

  //BACK SIDE STYLING
  .mCard_Back_priceContanier {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mCard_Back_Line1 {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .mCard_Back_Price {
    font-size: 3.5rem;
    font-weight: 100;
    padding-bottom: 8rem;
    display: inline-block;
  }
}

.mCard_Content {
  padding: 5px;
}

//***********REAL ESTATE PAGE***********//
.rCard {
  padding: 1% 3.5%;

  &_image {
    height: 250px;
    @include respond(phone) {
    height: 350px;
    }
    background-size: cover;
    position: relative;
    &_1{
      background-image: url(../img/1653onepacific1.jpg);
    }
    &_2{
      background-image: url(../img/parkside.JPG);
    }
    &_3{
      background-image: url(../img/9065510.JPG);
    }
    &_4{
      background-image: url(../img/803Granville.JPG);
    }
    &_5{
      background-image: url(../img/405Macpherson.JPG);
    }
    &_6{
      background-image: url(../img/5711Marguerite.JPG);
    }
    &_7{
      background-image: url(../img/50166Cordova.JPG);
    }
    &_8{
      background-image: url(../img/6729WILTSHIRE.JPG);
    }
    &_9{
      background-image: url(../img/901602spectrum.JPG);
    }
  }
  &_heading {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    @include respond(tab-port) {
      font-size: 1rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &_details {
    font-size: 1.5rem;
    height: 100px;
    display: inline-block;
    padding: 10px 0;
    line-height: 15px;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
