.first-slide {
  width: 100%;
}

.second-slide {
  width: 100%;
}

.third-slide {
  width: 100%;
}

.carousel-caption {
  font-size: 1.7rem;
  h1 {
    font-size: 3rem !important;
  }
}

.btn-lg {
  font-size: 2rem !important;
}
