.form {
  &_input {

    &_field {
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border-radius: 2px;
      background-color: rgba(white,.85);
      border: none;
      font-family: inherit;
      color: inherit;
      border-bottom: 3px solid transparent;
      width: 80%;
      display: block;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        border-bottom: 3px solid $color-primary-light;
      }

      &:focus:invalid {
        border-bottom: 3px solid orange;
      }
    }

    &_label {
      font-size: 1.5rem;
      font-weight: 700;
      margin-left: 1.8rem;
      margin-top: .7rem;
      display: block;
      color: grey;
      transition: all .3s;
    }

    &_field:placeholder-shown + &_label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }
}


.form_input_checkbox {
  padding-top: 45px;
  width: 27%;
  display: inline-block;
  text-transform: uppercase;

  &_label {
  cursor: pointer;
  font-size: 1.5rem;
  }

  &_button:focus {
    color: black;
  }
}
