.form {
  &_input {

    &_field {
      font-size: 15px;
      padding: 10px 20px;
      border-radius: 2px;
      background-color: rgba(white,.85);
      border: none;
      font-family: inherit;
      color: inherit;
      border-bottom: 3px solid transparent;
      width: 80%;
      display: block;

      &:focus {
        outline: none;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
        border-bottom: 3px solid $color-primary-light;
      }

      &:focus:invalid {
        border-bottom: 3px solid orange;
      }
    }

    &_label {
      font-size: 13px;
      font-weight: 700;
      margin-left: 18px;
      margin-top: 7px;
      display: block;
      color: grey;
      transition: all .3s;
    }

    &_field:placeholder-shown + &_label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-40px);
    }
  }
}
