/*---Popup Section---*/
.popup {
  background-color: rgba(0,0,0,.85);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &_close {
    color: black;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    display: inline-block;
    transition: all .2s;
  }

  &_close:visited,
  &_close:hover {
    text-decoration: none;
    color: black;
  }

  &_content {
    background-image: url(../img/whitewood.png);
    margin: 0 auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 20px 40px rgba(0,0,0,.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px;

    &_secondHeader {
      font-size: 25px;
      padding-bottom: 15px;
    }

    &_img {
      margin: 0 auto;
      height: 200px;
      padding-bottom: 30px;
    }
    &_text {
      height: 220px;
      font-size: 14px;
      margin-bottom: 40px;
      padding: 0 15px;
      text-align: left;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    &_list {
      text-align: left;
      margin-left: 30px;
    }
  }
}

#popup1 {
  &:target {
    opacity: 1;
    visibility: visible;
  }
}

#scroll::-webkit-scrollbar {
  background-color: rgba(0,0,0,.2);
  width: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    background: #232323;
}
