.story1 {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  padding: 60px;
  padding-left: 90px;
  font-size: 16px;
  line-height: 25px;
  transform: skewX(-12deg);
  box-shadow: 0 30px 60px rgba(0,0,0,.1);

  &_shape {
    width: 150px;
    height: 150px;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
  }

  &_image {
    width: 100%;
  }

  &_image2 {
    height: 100%;
    transform: translateX(-35px);
  }

  &_text {
    transform: skewX(12deg);
    color: grey;
  }
}
