.constructionListingsContainer {
  background-image:linear-gradient(
  to bottom,
  rgba($color-grey-light,1),
  transparent);
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cHover:hover {
  transform: scale(1.02);
  transition: 0.4s;
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}
