html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }
  @include respond(tab-port) {
    font-size: 45%;
  }
}


/*---Carousel Section---*/
.carousel-caption {
  @include respond(phone) {
    display: none;
  }
}

.btn {
  background-color: $color-secondary-dark !important;
  border: none !important;
}

/*---Services Section---*/

.section-services {
  text-align: center;
  padding: 2.5rem 0 7.5rem 0;
  background-image: linear-gradient(
      to top,
      rgba(white, .85),
      rgba($color-grey-light, 0.85));

  &_secondHeader {
      color: #212529;
      padding: 2.5rem 0;
      text-align: center;
      text-transform: uppercase;
  }
}
